body
{
    background-color: aqua;
}
#zdj
{
    height: 100px;
    width: 100px;
}
p{
    color: white;
    font-size: 50px;
    border: 1px solid black;
}
#pt
{
    height: 200px;
    width: 600px;
    font-size: 60px;
    background-color: red;
}
#pt2
{
    height: 200px;
    width: 600px;
    font-size: 60px;
    background-color: red;
}
#but
{
    height: 100px;
    width: 300px;
    background-color: purple;
}
#obok1 {
    float:left;
    width:50%;
  }
  
  #obok2 {
    float:left;
    width:50%;
  }
  #zdj2
  {
    width: 300px;
    height: 300px;
  }